!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Marcos Alejandro Vanetta (malev)", :property => "og:title"}/
    %meta{:content => "Authorship and collaboration in open source projects", :property => "og:description"}/
    %meta{:content => "/images/malev_logo.png", :property => "og:image"}/
    %title
      Mobilenews
    = stylesheet_link_tag    "style"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    /[if IE]
      <style type="text/css">
      \.clear {
      zoom: 1;
      display: block;
      }
      </style>
  %body
    .section#page
      .header
        %h1
          Mobilenews 
        %h2
          An easy way to read it all on the go
        .nav.clear
          %ul
            %li
              %a{:href => "#article1"} Blog
            %li
              %a{:href => "#article2"} Feedback
            %li
              %a{:href => "#article3"} My account
        .section#articles
          .line
          .article#article1
            %h2
              Photoshoot Effect
            .line
            .articleBody.clear
              .figure
                %a{:href => "http://tutorialzine.com/2010/02/photo-shoot-css-jquery/"}
                  %img{:alt => "Image one", :height => "340", :src => "http://tutorialzine.com/img/featured/641.jpg", :width => "620"}/
              %p In this tutorial, we are creating a photo shoot effect with our just-released PhotoShoot jQuery plug-in. With it you can convert a regular div on the page into a photo shooting stage simulating a camera-like feel.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis nibh fringilla sit amet consectetur lectus malesuada. Sed nec libero erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi nisi, rhoncus ut vestibulum ac, sollicitudin quis lorem. Duis felis dui, vulputate nec adipiscing nec, interdum vel tortor. Sed gravida, erat nec rutrum tincidunt, metus mauris imperdiet nunc, et elementum tortor nunc at eros. Donec malesuada congue molestie. Suspendisse potenti. Vestibulum cursus congue sem et feugiat. Morbi quis elit odio.
          .line
          #article2.article
            %h2 Sweet AJAX Tabs
            .line
            .articleBody.clear
              .figure
                %a{:href => "http://tutorialzine.com/2010/01/sweet-tabs-jquery-ajax-css/"}
                  %img{:alt => "Image two", :height => "340", :src => "http://tutorialzine.com/img/featured/633.jpg", :width => "620"}/
              %p Here we are making sweet AJAX-powered tabs with CSS3 and the newly released version 1.4 of jQuery.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis nibh fringilla sit amet consectetur lectus malesuada. Sed nec libero erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi nisi, rhoncus ut vestibulum ac, sollicitudin quis lorem. Duis felis dui, vulputate nec adipiscing nec, interdum vel tortor. Sed gravida, erat nec rutrum tincidunt, metus mauris imperdiet nunc, et elementum tortor nunc at eros. Donec malesuada congue molestie. Suspendisse potenti. Vestibulum cursus congue sem et feugiat. Morbi quis elit odio.      
          #article3.article
            %h2 Halftone Navigation Menu
            .line
            .articleBody.clear
              .figure
                %a{:href => "http://tutorialzine.com/2010/01/halftone-navigation-menu-jquery-css/"}
                  %img{:alt => "Image three", :height => "340", :src => "http://tutorialzine.com/img/featured/610.jpg", :width => "620"}/
              %p Today we are making a CSS3 & jQuery halftone-style navigation menu, which will allow you to display animated halftone-style shapes in accordance with the navigation links, and will provide a simple editor for creating additional shapes as well.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis nibh fringilla sit amet consectetur lectus malesuada. Sed nec libero erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi nisi, rhoncus ut vestibulum ac, sollicitudin quis lorem. Duis felis dui, vulputate nec adipiscing nec, interdum vel tortor. Sed gravida, erat nec rutrum tincidunt, metus mauris imperdiet nunc, et elementum tortor nunc at eros. Donec malesuada congue molestie. Suspendisse potenti. Vestibulum cursus congue sem et feugiat. Morbi quis elit odio.
      .footer
        / Marking the footer section
        .line
        %p Copyright 2010 - YourSite.com
        / Change the copyright notice
        %a.up{:href => "#"} Go UP
        %a.by{:href => "http://tutorialzine.com/2010/02/free-xhtml-css3-website-template/"} Template by Tutorialzine
      / Closing the #page section
      / JavaScript Includes
      %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", :type => "text/javascript"}
      %script{:src => "jquery.scrollTo-1.4.2/jquery.scrollTo-min.js", :type => "text/javascript"}
      %script{:src => "script.js", :type => "text/javascript"}
